<img src="https://github.com/BenedictusAryo/documents_assets/raw/master/New%20CourseMap/exercise_assets/makeailogo_hitam.png" alt="make-ai_logo" height="200" width="300" align="left">
<span><br><br><br></span>

___

# Mengolah data excel menggunakan Pandas
##### Benedict Aryo
Read on Medium : https://medium.com/make-ai-data-stories/mengolah-data-excel-menggunakan-pandas-5812f9acd79a

![](https://cdn-images-1.medium.com/max/1200/1*x6fsGcClyEMsGy2bnCsHgA.jpeg)

Jika teman-teman sedang mempelajari Data Science dengan Python, pasti teman-teman sudah akrab dengan pandas. Pandas (Python for Data Analysis) yakni library atau package yang umum digunakan untuk melakukan data analisis, termasuk diantaranya adalah membaca file data seperti Excel. Artikel ini dibuat untuk teman-teman yang sedang mempelajari Data Science, khususnya Exploratory Data Analysis.

Pada artikel ini, kita akan menggunakan data dari [Badan Pusat Statistik Nasional](https://bps.go.id/) . Badan Pusat Statistik adalah Lembaga Pemerintah Non Kementerian yang menyediakan kebutuhan data bagi pemerintah dan masyarakat. Data ini didapatkan dari sensus atau survey yang dilakukan sendiri dan juga dari departemen atau lembaga pemerintahan lainnya sebagai data sekunder.

Sebagai Latihan, kita akan menggunakan data "Rata‑Rata Pengeluaran per Kapita Sebulan di Daerah Perkotaan dan Perdesaan Menurut Provinsi dan Kelompok Barang" yang bisa teman-teman akses [disini](https://www.bps.go.id/statictable/2014/09/08/945/rata-rata-pengeluaran-per-kapita-sebulan-di-daerah-perkotaan-dan-perdesaan-menurut-provinsi-dan-kelompok-barang-rupiah-2011-2018.html).

Artikel ini menggunakan data update terakhir tanggal 08 Juli 2019. Pada halaman BPS tersebut, juga terdapat tombol untuk [mengunduh file data yang berbentuk excel](https://www.bps.go.id/statictable/download.html?nrbvfeve=OTQ1&sdfs=ldjfdifsdjkfahi&zxcv=L3dlYnNpdGU%3D&xzmn=aHR0cHM6Ly93d3cuYnBzLmdvLmlkL3N0YXRpY3RhYmxlLzIwMTQvMDkvMDgvOTQ1L3JhdGEtcmF0YS1wZW5nZWx1YXJhbi1wZXIta2FwaXRhLXNlYnVsYW4tZGktZGFlcmFoLXBlcmtvdGFhbi1kYW4tcGVyZGVzYWFuLW1lbnVydXQtcHJvdmluc2ktZGFuLWtlbG9tcG9rLWJhcmFuZy0tcnVwaWFoLS0tMjAxMS0yMDE4Lmh0bWw%3D&twoadfnoarfeauf=MjAxOS0wNy0xNSAxMDo1MjozMg%3D%3D).

<img src="https://cdn-images-1.medium.com/max/1200/1*OnAgjL7qIetcjqKYB4wa5Q.png" height="400" width="600" align="center">

Data tersebut membagi jenis pengeluaran per kapita *(dalam rupiah)* kedalam dua kategori, yakni **Makanan** dan **Non makanan** berikut dengan jumlahnya. Dari data tersebut kita mendapatkan data 8 tahun yakni dari tahun 2011 hingga tahun 2018. Terdapat 35 baris data yang terdiri dari 34 provinsi di Indonesia ditambah dengan Total rata-rata dari Indonesia secara keseluruhan. Apabila kita perhatikan, selain keterangan sumber data, terdapat catatan khusus, yakni "*1) Data masih bergabung dengan Provinsi Kalimantan Timur*".

<img src="https://cdn-images-1.medium.com/max/800/1*6zwjPXnhHVLx8oL2TNSzGw.png" height="500" width="700" align="center">

Dari data tersebut kita mengetahui bahwa data pengeluaran per kapita Provinsi Kalimantan Utara, pada tahun 2011 hingga 2014 masih bergabung dengan Provinsi Kalimantan Timur. Apabila kita telusuri di pencarian Web, **Provinsi Kalimantan Utara memang merupakan Provinsi baru yang berdiri pada tahun 2013** setelah disahkan oleh *Undang-undang Nomor 20 Tahun 2012*.

<img src="https://cdn-images-1.medium.com/max/1200/1*slt76woyXr8CR3fIz2tBNw.png" height="400" width="500" align="center">

Sehingga sangat wajar apabila data pengeluaran per kapita dari BPS baru terdapat pada tahun 2015. Yang menjadi masalah ialah data excel tersebut menggunakan karakter string " - " sebagai pengganti pada data Kalimantan Utara tahun 2011–2014 yang nantinya akan memengaruhi tipe data saat kita baca menggunakan pandas.
Kita akan menggunakan Jupyter Notebook sebagai lembar kerja kita. Seperti pada umumnya kita terlebih dahulu mengimpor package pandas yang umumnya kita singkat dengan pd. Sedikit tambahan agar tampilan angka koma atau float format pada tabel pandas terlihat rapi, kita akan gunakan `pd.set_option('float_format', '{:f}'.format)`.

In [1]:
import pandas as pd
pd.set_option('float_format', '{:f}'.format)

Untuk teman-teman yang sudah pernah menggunakan pandas, tentu telah mengetahui bahwa untuk membaca excel kita dapat menggunakan fungsi `read_excel()` pada pandas. Namun, apabila kita gunakan langsung fungsi tersebut maka kita akan mendapatkan tampilan data yang sedikit berantakan.

In [ ]:
konsumsi_perkapita = pd.read_excel('indo_05_20.xls')
konsumsi_perkapita

Tentunya kita harus memiliki strategi ketika membaca data excel seperti data di atas. Seperti yang terlah kita lihat pada tampilan web maupun excel ketika membaca data tersebut ada beberapa point yang dapat kita catat, yakni :
* Terdapat judul data pada baris pertama
* Tabel dimulai pada baris ketiga
* Data Provinsi sebagai Index baris
* Terdapat multilevel columns dengan format "**merge&center**"
* Data Provinsi Kalimantan Utara berisi karakter string " - " pada tahun 2011 -2014
* Terdapat 6 baris catatan kaki yang berjarak 1 baris setelah data

<img src="https://cdn-images-1.medium.com/max/1200/1*J_F0xmVHQrGgqRxIaSTodQ.png" height="500" width="600" align="center">

<img src="https://cdn-images-1.medium.com/max/1200/1*eO4K9oDGQM8NH5eCrvIytg.png" height="500" width="600" align="center">

Apabila kita membaca dokumentasi pandas pada bagian keterangan fungsi `read_excel()` yang bisa teman-teman lihat [disini](https://medium.com/r/?url=https%3A%2F%2Fpandas.pydata.org%2Fpandas-docs%2Fstable%2Freference%2Fapi%2Fpandas.read_excel.html).

<img src="https://cdn-images-1.medium.com/max/800/1*Xzb4B3l1KT7y_0qG5usjyg.png" height="500" width="600" align="center">

Dari dokumentasi fungsi pandas.read_excel() tersebut kita akan menggunakan beberapa parameter tambahan untuk mengatasi permasalahan data di atas, yakni :
* `skiprows=1` untuk mengabaikan baris judul di data
* `header=[1, 2]` berupa list karena kita memiliki *multilevel columns* yakni Kategori (Makanan/NonMakanan) serta tahun data diperoleh
* `index_col=0` untuk *membuat kolom Provinsi menjadi index* agar lebih mudah diolah dan dilakukan analisa
* `skipfooter=7` untuk mengabaikan catatan kaki yang terdapat pada akhir baris data

Dengan menggunakan parameter-parameter tersebut, kita dapat membaca tabel data excel tersebut dengan lebih rapi.

In [2]:
konsumsi_perkapita = pd.read_excel('indo_05_20.xls', skiprows=1, header=[1, 2], index_col=0, skipfooter=7)
konsumsi_perkapita

Provinsi                  Makanan                                            \
                             2011    2012    2013    2014    2015      2016
Aceh                       329257  356132  371838  406835  415354  451 952
Sumatera Utara             316343  344467  363363  398932  414566  472 220
Sumatera Barat             358338  390870  419853  461404  472428  537 236
Riau                       385949  432511  468503  481965  495322  556 747
Jambi                      324197  336737  377133  403659  428457  464 381
Sumatera Selatan           300453  308027  353213  390807  379945  446 364
Bengkulu                   294975  330123  348161  384146  413263  447 384
Lampung                    261519  283870  314408  340844  382368  412 617
Kepulauan Bangka Belitung  391606  418496  491121  551960  578812  596 381
Kepulauan Riau             431248  470371  508569  574814  602071  681 525
DKI Jakarta                457669  519028  603269  623186  615486  692 207
Jawa Barat                 297590  340757  371881  380224  425883  477 814
Jawa Tengah                229775  262761  281921  319872  330646  371 605
DI Yogyakarta              276323  327241  353778  335550  365012  434 004
Jawa Timur                 245743  255081  286962  339175  380993  427 191
Banten                     328623  370088  420422  455522  483956  532 389
Bali                       326490  330963  449048  471149  421577  465 993
Nusa Tenggara Barat        248690  291176  316656  366885  355034  410 112
Nusa Tenggara Timur        222575  228660  240207  267584  298180  312 312
Kalimantan Barat           312711  351590  367018  420130  426381  451 222
Kalimantan Tengah          375767  388822  418274  495159  494858  546 306
Kalimantan Selatan         373301  380306  440803  456699  470450  531 127
Kalimantan Timur           405490  450614  477325  516036  549351  587 920
Kalimantan Utara 1)             -       -       -       -  511272  549 467
Sulawesi Utara             306126  344033  379814  395996  426278  484 938
Sulawesi Tengah            287260  313730  320823  360961  383546  420 182
Sulawesi Selatan           260240  286410  302903  330220  359187  407 389
Sulawesi Tenggara          240739  271348  284683  291923  329208  371 733
Gorontalo                  256106  269533  276334  338353  326512  380 934
Sulawesi Barat             225501  236901  278355  280751  330890  357 586
Maluku                     283407  320271  336750  388284  420732  431 484
Maluku Utara               281916  286031  337639  367971  421216  413 580
Papua Barat                367893  354867  416901  445820  512796  482 624
Papua                      330865  356651  379876  487272  473382  524 592
Indonesia                  293556  323478  356435  388350  412462   460 639

Provinsi                                              Nonmakanan          ...  \
                                   2017          2018       2011    2012  ...
Aceh                      529161.554079 547668.075277     224798  227968  ...
Sumatera Utara            522766.380161 554754.231500     248222  254593  ...
Sumatera Barat            584045.241832 604871.244780     282009  290521  ...
Riau                      603401.298422 599873.401548     368685  404040  ...
Jambi                     538359.984626 555989.048493     262589  286641  ...
Sumatera Selatan          507672.997940 503297.453510     218859  290035  ...
Bengkulu                  523328.712028 548879.179035     237717  235436  ...
Lampung                   467939.942720 478451.882872     228662  233840  ...
Kepulauan Bangka Belitung 721045.302847 710401.166515     345039  400200  ...
Kepulauan Riau            759543.857137 747943.575951     473543  527422  ...
DKI Jakarta               797828.391225 847846.530425     898019  884071  ...
Jawa Barat                562766.736373 600966.607219     311118  310270  ...
Jawa Tengah               421514.905829 460891.075671     234132  239459  ...
DI Yogyakarta             490248.609317 529012.333440     348721  373055  ...
Jawa Timur                476861.402488 502760.598702     240683  243014  ...
Banten                    623084.346352 672917.636361     365364  349359  ...
Bali                      569168.035848 599976.093002     459132  554979  ...
Nusa Tenggara Barat       457616.361847 525091.404539     195940  234901  ...
Nusa Tenggara Timur       399251.202009 402921.775446     161451  168451  ...
Kalimantan Barat          519469.027417 535533.559366     274022  261683  ...
Kalimantan Tengah         621621.651651 632492.712356     267100  310905  ...
Kalimantan Selatan        612237.067870 626241.392787     326116  371527  ...
Kalimantan Timur          663534.506556 702905.180323     488554  498538  ...
Kalimantan Utara 1)       667279.699231 671612.167842          -       -  ...
Sulawesi Utara            594832.561971 560514.334508     311543  342066  ...
Sulawesi Tengah           480987.344995 474810.778605     251815  270612  ...
Sulawesi Selatan          450618.063971 495464.537655     246083  266914  ...
Sulawesi Tenggara         409856.805043 457496.656768     239546  260151  ...
Gorontalo                 441998.958462 423925.986223     260141  272686  ...
Sulawesi Barat            393942.699286 433929.170457     156289  180012  ...
Maluku                    485032.585466 491426.440381     281304  276893  ...
Maluku Utara              486734.449738 502810.203249     247990  276389  ...
Papua Barat               551032.098615 614330.227397     382488  345772  ...
Papua                     638353.510585 623986.571346     225626  246100  ...
Indonesia                 527955.823877 556899.253725     300108  309791  ...

Provinsi                                                  Jumlah           \
                                    2017           2018     2011     2012
Aceh                       373833.038175  426149.272206   554055   584100
Sumatera Utara             387051.283103  446955.123099   564565   599060
Sumatera Barat             469758.240634  543759.422290   640348   681391
Riau                       517536.342157  587899.360779   754634   836550
Jambi                      430864.637142  496432.457824   586786   623378
Sumatera Selatan           417173.807327  466781.095366   519312   598062
Bengkulu                   467579.852186  558899.077420   532692   565559
Lampung                    381353.496679  444185.787758   490180   517710
Kepulauan Bangka Belitung  639949.010325  709094.024436   736645   818697
Kepulauan Riau             805333.638528  826447.935384   904790   997793
DKI Jakarta               1199617.991655 1191309.827577  1355688  1403098
Jawa Barat                 540570.553960  617111.559061   608708   651026
Jawa Tengah                405708.545447  477690.340404   463907   502220
DI Yogyakarta              649917.771678  773648.726576   625043   700296
Jawa Timur                 461939.917790  503316.921925   486426   498094
Banten                     628887.440596  711628.080457   693987   719447
Bali                       762916.848112  767056.398505   785622   885942
Nusa Tenggara Barat        363435.728724  393107.839025   444630   484661
Nusa Tenggara Timur        282232.304079  301832.282139   384025   397111
Kalimantan Barat           409666.382816  493138.286987   586732   613273
Kalimantan Tengah          513357.712720  591813.795502   642867   699727
Kalimantan Selatan         545568.898330  600227.605702   699417   751833
Kalimantan Timur           780393.366687  857449.307156   894044   949152
Kalimantan Utara 1)        636486.136148  742960.643292        -        -
Sulawesi Utara             511880.271181  601014.128937   617669   686099
Sulawesi Tengah            437362.070959  465823.527807   539076   584341
Sulawesi Selatan           477290.327484  520779.038794   506323   553324
Sulawesi Tenggara          443862.721040  512252.729906   480285   531498
Gorontalo                  456383.552636  475801.889627   516247   542220
Sulawesi Barat             328683.050959  385717.195148   381790   416912
Maluku                     418826.717379  474411.169731   564711   597163
Maluku Utara               440060.241883  503588.162587   529906   562421
Papua Barat                570859.837008  631186.812261   750381   700639
Papua                      441507.437443  500709.374703   556491   602751
Indonesia                  508541.449011  567817.600072   593664   633269

Provinsi                                                         \
                              2013     2014     2015       2016
Aceh                        627381   679850   752118    808 094
Sumatera Utara              656133   699267   775189    853 756
Sumatera Barat              757809   812980   894703    985 025
Riau                        879801   915106  1005509  1 084 765
Jambi                       682409   721001   840696    904 289
Sumatera Selatan            643332   730600   731429    839 712
Bengkulu                    654451   705831   811077    894 794
Lampung                     573634   628510   741206    789 061
Kepulauan Bangka Belitung   939726  1047711  1118101  1 211 879
Kepulauan Riau             1100265  1271562  1344712  1 465 121
DKI Jakarta                1528429  1708275  1773431  1 876 648
Jawa Barat                  726828   793816   896895    983 877
Jawa Tengah                 559713   626045   695856    756 720
DI Yogyakarta               777409   780346   928602  1 070 962
Jawa Timur                  571752   659839   830472    870 412
Banten                      799876   900764  1032346  1 135 256
Bali                       1008900  1077879  1045145  1 099 561
Nusa Tenggara Barat         547748   636019   668499    760 641
Nusa Tenggara Timur         432053   493088   533891    576 627
Kalimantan Barat            672211   786711   783050    860 227
Kalimantan Tengah           784864   900699   920786  1 044 770
Kalimantan Selatan          813926   880425   956156  1 047 247
Kalimantan Timur           1065917  1127400  1193642  1 296 926
Kalimantan Utara 1)              -        -  1044605  1 157 774
Sulawesi Utara              755755   795035   820426    957 458
Sulawesi Tengah             648554   700073   760612    842 912
Sulawesi Selatan            599462   644298   746767    859 529
Sulawesi Tenggara           566489   600621   673488    806 568
Gorontalo                   580271   644011   667401    774 525
Sulawesi Barat              476458   518724   615491    685 941
Maluku                      649515   748665   794355    846 106
Maluku Utara                608016   702390   789896    809 371
Papua Barat                 806825   902298  1030232  1 009 401
Papua                       675911   700025   829753    936 387
Indonesia                   703561   776032   868823    946 258

Provinsi
                                    2017           2018
Aceh                       902994.592254  973817.347483
Sumatera Utara             909817.663264 1001709.354599
Sumatera Barat            1053803.482466 1148630.000000
Riau                      1120937.640579 1187772.000000
Jambi                      969224.621768 1052421.000000
Sumatera Selatan           924846.805267  970078.000000
Bengkulu                   990908.564213 1107778.256455
Lampung                    849293.439398  922637.670630
Kepulauan Bangka Belitung 1360994.313171 1419495.190951
Kepulauan Riau            1564877.495665 1574391.511335
DKI Jakarta               1997446.382880 2039157.000000
Jawa Barat                1103337.290333 1218079.000000
Jawa Tengah                827223.451276  938581.416076
DI Yogyakarta             1140166.380995 1302661.060015
Jawa Timur                 938801.320278 1006077.520627
Banten                    1251971.786948 1384545.716818
Bali                      1332084.883960 1367032.491507
Nusa Tenggara Barat        821052.090571  918199.243564
Nusa Tenggara Timur        681483.506088  704754.057585
Kalimantan Barat           929135.410233 1028671.846353
Kalimantan Tengah         1134979.364372 1224306.507858
Kalimantan Selatan        1157805.966200 1226468.998489
Kalimantan Timur          1443927.873243 1560354.487479
Kalimantan Utara 1)       1303765.835379 1414572.811134
Sulawesi Utara            1106712.833153 1161528.463445
Sulawesi Tengah            918349.415954  940635.000000
Sulawesi Selatan           927908.391455 1016243.576449
Sulawesi Tenggara          853719.526083  969750.000000
Gorontalo                  898382.511097  899727.875850
Sulawesi Barat             722625.750245  819646.365605
Maluku                     903859.302846  965837.000000
Maluku Utara               926794.691621 1006398.365836
Papua Barat               1121891.935623 1245517.039658
Papua                     1079860.948029 1124695.946049
Indonesia                 1036497.272888 1124716.853797

[35 rows x 24 columns]

Selanjutnya adalah mengganti karakter string " - " pada provinsi Kalimantan Utara dengan Nilai NaN (Not a Number) menggunakan library **Numpy**. 

Pada kasus ini, Saya pribadi menghindari mengganti karakter `" - "` tersebut dengan nilai 0, karena Seperti dijelaskan pada catatan kaki, sebelum tahun 2015 data Kalimantan Utara masih bergabung dengan data Provinsi Kalimantan Timur, namun juga tidak bisa dikatakan bahwa sebelum tahun 2015 data Provinsi Kalimantan Utara adalah sama dengan data Provinsi Kalimantan Timur karena memang Provinsi tersebut belum terbentuk. Sehingga pada kasus ini saya akan menggunakan nilai `NaN` sebagai pengganti karakter string `" - "` dari data BPS tersebut.

In [3]:
# Using numpy.nan to replace "-" at Kalimantan Utara data
import numpy as np

konsumsi_perkapita.replace('-', np.nan, inplace=True)
konsumsi_perkapita.tail(13)

Provinsi                  Makanan                                            \
                             2011          2012          2013          2014
Kalimantan Timur    405490.000000 450614.000000 477325.000000 516036.000000
Kalimantan Utara 1)           nan           nan           nan           nan
Sulawesi Utara      306126.000000 344033.000000 379814.000000 395996.000000
Sulawesi Tengah     287260.000000 313730.000000 320823.000000 360961.000000
Sulawesi Selatan    260240.000000 286410.000000 302903.000000 330220.000000
Sulawesi Tenggara   240739.000000 271348.000000 284683.000000 291923.000000
Gorontalo           256106.000000 269533.000000 276334.000000 338353.000000
Sulawesi Barat      225501.000000 236901.000000 278355.000000 280751.000000
Maluku              283407.000000 320271.000000 336750.000000 388284.000000
Maluku Utara        281916.000000 286031.000000 337639.000000 367971.000000
Papua Barat         367893.000000 354867.000000 416901.000000 445820.000000
Papua               330865.000000 356651.000000 379876.000000 487272.000000
Indonesia           293556.000000 323478.000000 356435.000000 388350.000000

Provinsi                                                           \
                       2015      2016          2017          2018
Kalimantan Timur     549351  587 920  663534.506556 702905.180323
Kalimantan Utara 1)  511272  549 467  667279.699231 671612.167842
Sulawesi Utara       426278  484 938  594832.561971 560514.334508
Sulawesi Tengah      383546  420 182  480987.344995 474810.778605
Sulawesi Selatan     359187  407 389  450618.063971 495464.537655
Sulawesi Tenggara    329208  371 733  409856.805043 457496.656768
Gorontalo            326512  380 934  441998.958462 423925.986223
Sulawesi Barat       330890  357 586  393942.699286 433929.170457
Maluku               420732  431 484  485032.585466 491426.440381
Maluku Utara         421216  413 580  486734.449738 502810.203249
Papua Barat          512796  482 624  551032.098615 614330.227397
Papua                473382  524 592  638353.510585 623986.571346
Indonesia            412462   460 639 527955.823877 556899.253725

Provinsi               Nonmakanan                ...                \
                             2011          2012  ...          2017
Kalimantan Timur    488554.000000 498538.000000  ... 780393.366687
Kalimantan Utara 1)           nan           nan  ... 636486.136148
Sulawesi Utara      311543.000000 342066.000000  ... 511880.271181
Sulawesi Tengah     251815.000000 270612.000000  ... 437362.070959
Sulawesi Selatan    246083.000000 266914.000000  ... 477290.327484
Sulawesi Tenggara   239546.000000 260151.000000  ... 443862.721040
Gorontalo           260141.000000 272686.000000  ... 456383.552636
Sulawesi Barat      156289.000000 180012.000000  ... 328683.050959
Maluku              281304.000000 276893.000000  ... 418826.717379
Maluku Utara        247990.000000 276389.000000  ... 440060.241883
Papua Barat         382488.000000 345772.000000  ... 570859.837008
Papua               225626.000000 246100.000000  ... 441507.437443
Indonesia           300108.000000 309791.000000  ... 508541.449011

Provinsi                                 Jumlah                               \
                             2018          2011          2012           2013
Kalimantan Timur    857449.307156 894044.000000 949152.000000 1065917.000000
Kalimantan Utara 1) 742960.643292           nan           nan            nan
Sulawesi Utara      601014.128937 617669.000000 686099.000000  755755.000000
Sulawesi Tengah     465823.527807 539076.000000 584341.000000  648554.000000
Sulawesi Selatan    520779.038794 506323.000000 553324.000000  599462.000000
Sulawesi Tenggara   512252.729906 480285.000000 531498.000000  566489.000000
Gorontalo           475801.889627 516247.000000 542220.000000  580271.000000
Sulawesi Barat      385717.195148 381790.000000 416912.000000  476458.000000
Maluku              474411.169731 564711.000000 597163.000000  649515.000000
Maluku Utara        503588.162587 529906.000000 562421.000000  608016.000000
Papua Barat         631186.812261 750381.000000 700639.000000  806825.000000
Papua               500709.374703 556491.000000 602751.000000  675911.000000
Indonesia           567817.600072 593664.000000 633269.000000  703561.000000

Provinsi                                                               \
                              2014     2015       2016           2017
Kalimantan Timur    1127400.000000  1193642  1 296 926 1443927.873243
Kalimantan Utara 1)            nan  1044605  1 157 774 1303765.835379
Sulawesi Utara       795035.000000   820426    957 458 1106712.833153
Sulawesi Tengah      700073.000000   760612    842 912  918349.415954
Sulawesi Selatan     644298.000000   746767    859 529  927908.391455
Sulawesi Tenggara    600621.000000   673488    806 568  853719.526083
Gorontalo            644011.000000   667401    774 525  898382.511097
Sulawesi Barat       518724.000000   615491    685 941  722625.750245
Maluku               748665.000000   794355    846 106  903859.302846
Maluku Utara         702390.000000   789896    809 371  926794.691621
Papua Barat          902298.000000  1030232  1 009 401 1121891.935623
Papua                700025.000000   829753    936 387 1079860.948029
Indonesia            776032.000000   868823    946 258 1036497.272888

Provinsi
                              2018
Kalimantan Timur    1560354.487479
Kalimantan Utara 1) 1414572.811134
Sulawesi Utara      1161528.463445
Sulawesi Tengah      940635.000000
Sulawesi Selatan    1016243.576449
Sulawesi Tenggara    969750.000000
Gorontalo            899727.875850
Sulawesi Barat       819646.365605
Maluku               965837.000000
Maluku Utara        1006398.365836
Papua Barat         1245517.039658
Papua               1124695.946049
Indonesia           1124716.853797

[13 rows x 24 columns]

Kita juga dapat mengganti nama index dari '**Kalimantan Utara 1)**' menjadi '**Kalimantan Utara**' dengan fungsi `.rename()` kemudian kita masukkan parameter `index={'Kalimantan Utara 1)' : 'Kalimantan Utara'}` yang berupa dictionary dan jangan lupa kita gunakan juga parameter `inplace=True` untuk membuat keluaran dari perintah `.rename()` langsung mengganti object data tabel kita.

In [4]:
konsumsi_perkapita.rename(index={'Kalimantan Utara 1)':'Kalimantan Utara'}, inplace=True)
konsumsi_perkapita.tail(12)

Provinsi                Makanan                                            \
                           2011          2012          2013          2014
Kalimantan Utara            nan           nan           nan           nan
Sulawesi Utara    306126.000000 344033.000000 379814.000000 395996.000000
Sulawesi Tengah   287260.000000 313730.000000 320823.000000 360961.000000
Sulawesi Selatan  260240.000000 286410.000000 302903.000000 330220.000000
Sulawesi Tenggara 240739.000000 271348.000000 284683.000000 291923.000000
Gorontalo         256106.000000 269533.000000 276334.000000 338353.000000
Sulawesi Barat    225501.000000 236901.000000 278355.000000 280751.000000
Maluku            283407.000000 320271.000000 336750.000000 388284.000000
Maluku Utara      281916.000000 286031.000000 337639.000000 367971.000000
Papua Barat       367893.000000 354867.000000 416901.000000 445820.000000
Papua             330865.000000 356651.000000 379876.000000 487272.000000
Indonesia         293556.000000 323478.000000 356435.000000 388350.000000

Provinsi                                                           Nonmakanan  \
                     2015      2016          2017          2018          2011
Kalimantan Utara   511272  549 467  667279.699231 671612.167842           nan
Sulawesi Utara     426278  484 938  594832.561971 560514.334508 311543.000000
Sulawesi Tengah    383546  420 182  480987.344995 474810.778605 251815.000000
Sulawesi Selatan   359187  407 389  450618.063971 495464.537655 246083.000000
Sulawesi Tenggara  329208  371 733  409856.805043 457496.656768 239546.000000
Gorontalo          326512  380 934  441998.958462 423925.986223 260141.000000
Sulawesi Barat     330890  357 586  393942.699286 433929.170457 156289.000000
Maluku             420732  431 484  485032.585466 491426.440381 281304.000000
Maluku Utara       421216  413 580  486734.449738 502810.203249 247990.000000
Papua Barat        512796  482 624  551032.098615 614330.227397 382488.000000
Papua              473382  524 592  638353.510585 623986.571346 225626.000000
Indonesia          412462   460 639 527955.823877 556899.253725 300108.000000

Provinsi                         ...                              \
                           2012  ...          2017          2018
Kalimantan Utara            nan  ... 636486.136148 742960.643292
Sulawesi Utara    342066.000000  ... 511880.271181 601014.128937
Sulawesi Tengah   270612.000000  ... 437362.070959 465823.527807
Sulawesi Selatan  266914.000000  ... 477290.327484 520779.038794
Sulawesi Tenggara 260151.000000  ... 443862.721040 512252.729906
Gorontalo         272686.000000  ... 456383.552636 475801.889627
Sulawesi Barat    180012.000000  ... 328683.050959 385717.195148
Maluku            276893.000000  ... 418826.717379 474411.169731
Maluku Utara      276389.000000  ... 440060.241883 503588.162587
Papua Barat       345772.000000  ... 570859.837008 631186.812261
Papua             246100.000000  ... 441507.437443 500709.374703
Indonesia         309791.000000  ... 508541.449011 567817.600072

Provinsi                 Jumlah                                            \
                           2011          2012          2013          2014
Kalimantan Utara            nan           nan           nan           nan
Sulawesi Utara    617669.000000 686099.000000 755755.000000 795035.000000
Sulawesi Tengah   539076.000000 584341.000000 648554.000000 700073.000000
Sulawesi Selatan  506323.000000 553324.000000 599462.000000 644298.000000
Sulawesi Tenggara 480285.000000 531498.000000 566489.000000 600621.000000
Gorontalo         516247.000000 542220.000000 580271.000000 644011.000000
Sulawesi Barat    381790.000000 416912.000000 476458.000000 518724.000000
Maluku            564711.000000 597163.000000 649515.000000 748665.000000
Maluku Utara      529906.000000 562421.000000 608016.000000 702390.000000
Papua Barat       750381.000000 700639.000000 806825.000000 902298.000000
Papua             556491.000000 602751.000000 675911.000000 700025.000000
Indonesia         593664.000000 633269.000000 703561.000000 776032.000000

Provinsi
                      2015       2016           2017           2018
Kalimantan Utara   1044605  1 157 774 1303765.835379 1414572.811134
Sulawesi Utara      820426    957 458 1106712.833153 1161528.463445
Sulawesi Tengah     760612    842 912  918349.415954  940635.000000
Sulawesi Selatan    746767    859 529  927908.391455 1016243.576449
Sulawesi Tenggara   673488    806 568  853719.526083  969750.000000
Gorontalo           667401    774 525  898382.511097  899727.875850
Sulawesi Barat      615491    685 941  722625.750245  819646.365605
Maluku              794355    846 106  903859.302846  965837.000000
Maluku Utara        789896    809 371  926794.691621 1006398.365836
Papua Barat        1030232  1 009 401 1121891.935623 1245517.039658
Papua               829753    936 387 1079860.948029 1124695.946049
Indonesia           868823    946 258 1036497.272888 1124716.853797

[12 rows x 24 columns]

Kemudian kita juga harus memperhatikan _datatype_ dari tiap tiap kolom pada tabel data kita dengan menggunakan fungsi `.info()`

In [8]:
konsumsi_perkapita.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, Aceh to Indonesia
Data columns (total 24 columns):
(Makanan, 2011)       34 non-null float64
(Makanan, 2012)       34 non-null float64
(Makanan, 2013)       34 non-null float64
(Makanan, 2014)       34 non-null float64
(Makanan, 2015)       35 non-null int64
(Makanan, 2016)       35 non-null object
(Makanan, 2017)       35 non-null float64
(Makanan, 2018)       35 non-null float64
(Nonmakanan, 2011)    34 non-null float64
(Nonmakanan, 2012)    34 non-null float64
(Nonmakanan, 2013)    34 non-null float64
(Nonmakanan, 2014)    34 non-null float64
(Nonmakanan, 2015)    35 non-null int64
(Nonmakanan, 2016)    35 non-null object
(Nonmakanan, 2017)    35 non-null float64
(Nonmakanan, 2018)    35 non-null float64
(Jumlah, 2011)        34 non-null float64
(Jumlah, 2012)        34 non-null float64
(Jumlah, 2013)        34 non-null float64
(Jumlah, 2014)        34 non-null float64
(Jumlah, 2015)        35 non-null int64
(Jumlah, 2016)        35 non-null object
(Jumlah, 2017)        35 non-null float64
(Jumlah, 2018)        35 non-null float64
dtypes: float64(18), int64(3), object(3)
memory usage: 6.8+ KB

<img src="https://cdn-images-1.medium.com/max/800/1*Rq2DkrWd1a9IpWxvMwa4ng.png" height="500" width="600" align="center">

Kita dapat melihat bahwa data pada tahun 2016, baik pada kategori Makanan, Nonmakanan maupun Jumlah, terbaca sebagai object string.

Untuk menyelidikinya lebih lanjut, kita dapat menlihat sample data pada tahun 2016 dengan menggunakan perintah `tabel[index_col_lvl1, index_col_lvl2].values`

In [9]:
konsumsi_perkapita['Makanan', 2016].values

array(['451 952 ', '472 220 ', '537 236 ', '556 747 ', '464 381 ',
       '446 364 ', '447 384 ', '412 617 ', '596 381 ', '681 525 ',
       '692 207 ', '477 814 ', '371 605 ', '434 004 ', '427 191 ',
       '532 389 ', '465 993 ', '410 112 ', '312 312 ', '451 222 ',
       '546 306 ', '531 127 ', '587 920 ', '549 467 ', '484 938 ',
       '420 182 ', '407 389 ', '371 733 ', '380 934 ', '357 586 ',
       '431 484 ', '413 580 ', '482 624 ', '524 592 ', '460 639'],
      dtype=object)

In [10]:
konsumsi_perkapita['Nonmakanan', 2016].values

array(['356 142', '381 537', '447 789', '528 018', '439 908', '393 348',
       '447 410', '376 444', '615 498', '783 597', '1 184 441', '506 063',
       '385 115', '636 958', '443 221', '602 867', '633 569', '350 529',
       '264 315', '409 006', '498 464', '516 120', '709 006', '608 307',
       '472 520', '422 730', '452 140', '434 835', '393 591', '328 356',
       '414 623', '395 791', '526 777', '411 795', '485 619'],
      dtype=object)

<img src="https://cdn-images-1.medium.com/max/800/1*Rq2DkrWd1a9IpWxvMwa4ng.png" height="500" width="600" align="center">

Nah, kita kini mengetahui bahwa kemungkinan terdapat kesalahan pada input data yang mengakibatkan data pada tahun 2016 terdeteksi sebagai object string. Untuk mengatasinya kita dapat membuat fungsi berulang (`for` loop) dari setiap data pada kolom tersebut menjadi karakter angka, atau pada kasus ini kita akan menjadikannya tipe data *float*.

Fungsi yang akan kita buat harus mengeluarkan _output_ berupa _list data yang telah berbentuk float_ karenanya kita membuat list kosong terlebih dahulu bernama `output_list`. Ada dua parameter yang dibutuhkan oleh fungsi ini, yakni `tabel_data` dan `multi_kolom` (_Karena data kita memiliki multilevel columns_) yang hendak kita rubah dari _string menjadi float_.

Secara umum, ada 2 step yang kita lakukan dalam processing data ini, pertama adalah `.strip()` yakni menghilangkan spasi pada awal dan akhir seperti yang terlihat pada data kategori 'Makanan', kemudian kita gunakan fungsi `.replace()` yang menghilangkan spasi pada tengah-tengah angka pemisah ribuan. Perintah tersebut dilakukan berulang pada setiap baris data pada tabel kolom tersebut.

In [5]:
def object_to_float(table, column_list):
    '''
    Replace string datatype from `table` in `column_list` 
    into float
    
    Parameters:
    -----------
    table : dataframe
    column_list : multi index columns
    '''
    output_list = []
    for string in table[column_list].tolist():
        float_data = float(string.strip().replace(' ',''))
        output_list.append(float_data)
    return output_list

Untuk mengaplikasikan fungsi tersebut, kita dapat juga menggunakan perulangan untuk setiap kolom kategori pada tahun 2016 dengan terlebih dahulu menyimpannya kedalam sebuah list. Perulangan sebanyak tiga kali tersebut akan mengganti data pada tiap-tiap kolom dengan keluaran dari fungsi `object_to_float` yang telah kita buat sebelumnya.

In [6]:
string_cols_list = [('Makanan', 2016), ('Nonmakanan', 2016), ('Jumlah', 2016)]

for string_col in string_cols_list:
    konsumsi_perkapita[string_col] = object_to_float(konsumsi_perkapita, string_col)

Setelah selesai, kita dapat melihat bahwa tipe data kita sudah berganti dengan kembali melihat dari fungsi `.info()`

In [7]:
konsumsi_perkapita.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, Aceh to Indonesia
Data columns (total 24 columns):
(Makanan, 2011)       34 non-null float64
(Makanan, 2012)       34 non-null float64
(Makanan, 2013)       34 non-null float64
(Makanan, 2014)       34 non-null float64
(Makanan, 2015)       35 non-null int64
(Makanan, 2016)       35 non-null float64
(Makanan, 2017)       35 non-null float64
(Makanan, 2018)       35 non-null float64
(Nonmakanan, 2011)    34 non-null float64
(Nonmakanan, 2012)    34 non-null float64
(Nonmakanan, 2013)    34 non-null float64
(Nonmakanan, 2014)    34 non-null float64
(Nonmakanan, 2015)    35 non-null int64
(Nonmakanan, 2016)    35 non-null float64
(Nonmakanan, 2017)    35 non-null float64
(Nonmakanan, 2018)    35 non-null float64
(Jumlah, 2011)        34 non-null float64
(Jumlah, 2012)        34 non-null float64
(Jumlah, 2013)        34 non-null float64
(Jumlah, 2014)        34 non-null float64
(Jumlah, 2015)        35 non-null int64
(Jumlah, 2016)        35 non-null float64
(Jumlah, 2017)        35 non-null float64
(Jumlah, 2018)        35 non-null float64
dtypes: float64(21), int64(3)
memory usage: 6.8+ KB

Atau juga dengan melihat sample 5 baris pertama dari tabel data dengan fungsi `.head()`

In [14]:
konsumsi_perkapita.head()

Provinsi             Makanan                                            \
                        2011          2012          2013          2014
Aceh           329257.000000 356132.000000 371838.000000 406835.000000
Sumatera Utara 316343.000000 344467.000000 363363.000000 398932.000000
Sumatera Barat 358338.000000 390870.000000 419853.000000 461404.000000
Riau           385949.000000 432511.000000 468503.000000 481965.000000
Jambi          324197.000000 336737.000000 377133.000000 403659.000000

Provinsi                                                          \
                  2015          2016          2017          2018
Aceh            415354 451952.000000 529161.554079 547668.075277
Sumatera Utara  414566 472220.000000 522766.380161 554754.231500
Sumatera Barat  472428 537236.000000 584045.241832 604871.244780
Riau            495322 556747.000000 603401.298422 599873.401548
Jambi           428457 464381.000000 538359.984626 555989.048493

Provinsi          Nonmakanan                ...                              \
                        2011          2012  ...          2017          2018
Aceh           224798.000000 227968.000000  ... 373833.038175 426149.272206
Sumatera Utara 248222.000000 254593.000000  ... 387051.283103 446955.123099
Sumatera Barat 282009.000000 290521.000000  ... 469758.240634 543759.422290
Riau           368685.000000 404040.000000  ... 517536.342157 587899.360779
Jambi          262589.000000 286641.000000  ... 430864.637142 496432.457824

Provinsi              Jumlah                                            \
                        2011          2012          2013          2014
Aceh           554055.000000 584100.000000 627381.000000 679850.000000
Sumatera Utara 564565.000000 599060.000000 656133.000000 699267.000000
Sumatera Barat 640348.000000 681391.000000 757809.000000 812980.000000
Riau           754634.000000 836550.000000 879801.000000 915106.000000
Jambi          586786.000000 623378.000000 682409.000000 721001.000000

Provinsi
                   2015           2016           2017           2018
Aceh             752118  808094.000000  902994.592254  973817.347483
Sumatera Utara   775189  853756.000000  909817.663264 1001709.354599
Sumatera Barat   894703  985025.000000 1053803.482466 1148630.000000
Riau            1005509 1084765.000000 1120937.640579 1187772.000000
Jambi            840696  904289.000000  969224.621768 1052421.000000

[5 rows x 24 columns]

---

Kini data telah siap untuk teman-teman analisis. Semoga teknik yang dibahas pada artike ini dapat membantu kamu untuk mengolah data tabel terutama berupa file excel. Pada artikel selanjutnya, kita akan membahas tentang Exploratory Data Analysis tentang data yang sama kita gunakan pada latihan di artikel ini, jangan lupa untuk claps dan follow yah.

Tertarik untuk mempelajari Data Science? Kamu bisa mempelajari materi ini lebih lanjut melalui [Make-AI, Data Science Online Course](https://medium.com/r/?url=https%3A%2F%2Fmake-ai.id%2F%3Futm_source%3Dmedium%26utm_medium%3Dartikel%26utm_campaign%3Dexcelpandas).


---

### Sumber Pustaka :
1. Badan Pusat Statistik
2. Data Rata‑Rata Pengeluaran per Kapita Sebulan di Daerah Perkotaan dan Perdesaan Menurut Provinsi dan Kelompok Barang (rupiah), 2011–2018
3. Provinsi Kalimantan Utara
4. Pandas Read Excel Documentation